@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    background-color: rgba(3, 0, 0, 0.719);
    color: #fff;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.fundo-fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir tudo sem deformar */
    z-index: -1;       /* Envia a imagem para trás de todo o conteúdo */
}

header{
    margin: 44px 0 144px 76px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-header {


    color: #ffffff;
    margin-right: 23px;
    cursor: pointer;
}

.button-header{

    width: 130px;
    height: 41px;
    size: 24px;
    border-radius: 23px;
    border: none;
    background-color: goldenrod;
    cursor: pointer;
}

.container {
    width: 600px;
    min-height: 800px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; /* Alinha o conteúdo no topo */
    align-items: center;        /* Centra o formulário horizontalmente */
    
    padding-top: 2%;
    margin: 0 auto;             /* Única forma correta de centrar o bloco na página */
    
    border: 8px solid goldenrod;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
}

.form-cliente {
    display: flex;
    flex-direction: column;
    width: 80%;                 /* Ocupa 80% da largura do container */
    gap: 15px;                  /* Espaçamento vertical entre inputs */
    align-items: stretch;       /* Faz os inputs preencherem a largura do form */
}

.form-cliente h3 {
    margin: 5px;
    text-align: center;         /* Garante o título centrado */
}

.form-cliente input {
    background-color: goldenrod;
    border: none;
    border-radius: 15px;
    padding: 13px;
    color: #fff;
    width: 100%;                /* Garante que o input use o espaço do form */
}
